:root {
    --main-color:#33b5fc;
    --primary-text-color:#fff;
    --secondary-color:#b4bbbe;
}


/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* ESTILO HEADER */

header{
    min-height: 90vh; 
    background-image: url("../img/hrz-5.jpg");
    background-size: cover; 
    background-position: center; 
    position: relative;
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escura com opacidade */
    z-index: -1; /* Garante que o texto fique em cima */
}


#inicio-site {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem; 
    padding: 8rem; 
}

#inicio-site .indecor-text{
    width: 20rem;
}



#inicio-site .indecor-text h1 {
    color: var(--main-color);
    margin-bottom: 2rem; 
}

#inicio-site .indecor-text h2 {
    margin-bottom: 1rem; 
    text-transform: uppercase;
    color: var(--primary-text-color);
}

#inicio-site .indecor-text p{
    color: var(--primary-text-color);
}

#inicio-site .indecor-text span{
    color: var(--main-color);
    font-weight: bold;
}

#inicio-site .formulario{
    background-color: var(--secondary-color);
    padding: 2rem;
    width: 30rem;
}

#inicio-site .formulario h2{
    margin-bottom: 2rem; 
    font-weight: 500;
}

form p{
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 0.3rem;
}

form input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border-radius: 0.3rem;
    border: 0;
    outline: 0;
}

.selecionar {
    position: relative;
}

.selecionar i{
    position: absolute;
    top: 6px;
    right: 10px;
}

.enviar { 
    display: flex;
    justify-content: center;
}

form .enviar input{
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--primary-text-color);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
}

/* ESTILO APRENDER */

.aprender-cinza{
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    padding: 3rem; 
    background-color:var(--secondary-color);
    text-align: center;
}

.aprender-blocos {
    display: flex; /* Ativa o Flexbox no contêiner */
    justify-content: space-around; /* Distribui os blocos igualmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 2rem; /* Espaçamento entre os blocos */
}

.aprender-bloco {
    display: flex; /* Flexbox para o bloco individual */
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    width: 400px; /* Largura fixa para os blocos (ajuste conforme necessário) */
    padding: 3rem;
}

.aprender-bloco img {
    width: 225px; /* Largura do círculo */
    height: 225px; /* Altura do círculo */
    border-radius: 50%; /* Transforma a imagem em um círculo */
    object-fit: cover; /* Mantém a proporção da imagem dentro do círculo */
    margin-bottom: 1rem; /* Espaçamento entre a imagem e o texto */
}


/* ESTILO LOCAL DO ENVENTO  */


#local{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-image: url("../img/hrz-1.jpg");
    background-size: cover; 
    background-position: center; 
    position: relative;
    z-index: 0;
    
}

#local::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escura com opacidade */
    z-index: -1; /* Garante que o texto fique em cima */
}

.local-icon{
    display: flex;
    gap: 2rem;
    /* flex-direction: column; */
}

.local-icon i{
    color: var(--secondary-color);
    font-size: 3rem;
}

.local-icon-text{
    color: var(--primary-text-color);
    flex-direction: column;
    text-align: center;
}

.local-text{
    width: 480px;
}

.local-text h1{
    font-size: 2rem;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.local-text p{
    color: var(--primary-text-color); 
}


/* ESTILO AMBIENTES  */
.ambiente{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: 3rem 6rem;
}

.ambiente img{
    width: 50%;
}

.ambiente h2{
    padding-bottom: 2rem;
    font-weight: 600;
}

.ambiente-text{
    width: 50%;
}                                                                                                                                                                                                                                                                                    

.ambiente-text span{
    font-weight: bold;
}

/* ESTILO INSCRIÇÕES */

#inscricao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-image: url("img/hrz-6.jpg");
    background-size: cover; 
    background-position: center; 
    position: relative;
    z-index: 0;
    
}

#inscricao::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escura com opacidade */
    z-index: -1; /* Garante que o texto fique em cima */
}

.inscricao h1{
    color: var(--primary-text-color);
    margin-bottom: 2rem;
    font-weight: 500;
}

.botao{
    display: flex;
    justify-content: center;
}

.botao a{
    width: 100%;
    padding: 0.5rem;
    background-color: #1aa0e8c5;
    color: var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* ESTILO RODAPÉ */

.rodape-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--secondary-color);
    padding: 3rem;
}

.rodape-text h1{
    margin-bottom: 1rem;
}

.rodape-text-bold{
    margin-top: 1rem;
}

.rodape-text-bold span{
    font-weight: bold;
}